body{
	background-color: ;
}


.header{
	position: fixed;
  padding-left: 200px;
    width: 100%;
   background-color: coral;
   color: white;

}
h1{
	text-align: center;
	color: white;
	font-family: cursive;
}
.nav{
	height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: teal;
  overflow-x: hidden;
  padding-top: 20px;
}
.nav a{

  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-family: cursive;
  font-weight: bolder;
  display: block;
}
a:hover{
	color:darkred;
	text-decoration: underline;
}

.nav img{
	width: 50px;
	height: 50px;
	border: 5px solid lightcoral;
	border-radius: 50%;
	float:left;

}

#name{
	text-indent: 10px;
	color: white;
	font-family: cursive;
}


#main{
	margin-left: 220px;  
  padding-top: 90px;
  display: flex;
}
.row {
  display: flex;

}	

/* Create three equal columns that sits next to each other */
.column { 
  padding: 10px;
}
.column img{
	width: 350px;
	height: 300px;
}
.footer {
   position: fixed;
   padding-left: 200px;
   bottom: 0;
   width: 100%;
   background-color: lightcoral;
   color: white;
   text-align: center;
}
.footer a{
	color: white;
}
@media {
   nav, main {
    width: auto;
    height: auto;
  }
}