.top{
 position: fixed;
  padding-left: 200px;
    width: 100%;
   background-color: coral;
   color: white;


}
.top a {
  float: right;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  position: fixed;
}
.top h1{
  text-align: center;

}
.top sub{
  font-size: 18px;
}

.nav{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: teal;
  overflow-x: hidden;
  padding-top: 20px;
}
.nav a{

  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-family: cursive;
  font-weight: bolder;
  display: block;
}


.nav img{
  width: 50px;
  height: 50px;
  border: 3px solid lightcoral;
  border-radius: 50%;
  float:left;

}
#name{
  text-indent: 10px;
  color: white;
  font-family: cursive;
}

.container{
  padding-top: 80px;
}

.container p,h3,li{
  padding-left: 200px;
}
.container h3{
  color:blue;
}
.container p{
  font-style: italic;
  font-weight: bolder;
  font-family: cursive;
}

.container li{

  list-style-type: square;
}

.footer {
   position: fixed;
   padding-left: 200px;
   bottom: 0;
   width: 100%;
   background-color: lightcoral;
   color: white;
   text-align: center;
}
.footer a{
  color: white;
}
