body{
	color: skyblue;
}
div{
	background-color: green;
}
h1{
	text-align: center;
	color: whitesmoke;
}
sub{
	font-size: 20px;
}

#third{
	text-align: justify;
	text-justify: inter-word;
	text-indent: 50px;
	font-size: 18px;
}