.top{
 position: fixed;
  padding-left: 200px;
    width: 100%;
   background-color: coral;
   color: white;


}
.top a {
	float: right;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  position: fixed;
}
.top h1{
	text-align: center;

}

.nav{
	height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: teal;
  overflow-x: hidden;
  padding-top: 20px;
}
.nav a{

  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-family: cursive;
  font-weight: bolder;
  display: block;
}


.nav img{
	width: 50px;
	height: 50px;
	border: 3px solid lightcoral;
	border-radius: 50%;
	float:left;

}

#name{
	text-indent: 10px;
	color: white;
	font-family: cursive;
}

img{
	width: 500px;
	height: 500px;
}
#all{
	text-align: justify;
	text-justify: inter-word;
	text-indent: 50px;
	font-size: 18px;
	float: left;
	font-family: cursive;
	padding-left: 200px;

}
.container{
	padding-top: 75px;
}
sub{
	font-size: 18px;
}
.footer a{
	color: white;
}
.footer {
   position: fixed;
   padding-left: 200px;
   bottom: 0;
   width: 100%;
   background-color: lightcoral;
   color: white;
   text-align: center;
}